




body { background-image: url("C:\Users\mrodr\OneDrive\Escritorio\DEV007-card-validation\fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position: center;
}
.input {
    background-color: aqua;
    
}

